.toggle-button {
  border: 1px solid #000;
  border-right: none;
  cursor: pointer;
  flex: 1;
  position: relative;
}

.toggle-button:last-child {
  border-right: 1px solid #000;
}

.toggle-button label {
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

.toggle-button input[type='radio'] {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

.toggle-button--selected label {
  background-color: aliceblue;
}
